*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 200;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0rem 0.1rem 1rem 0rem rgba(0, 0, 0, 0.2);
  list-style: none;
  height: 8rem;
  padding: 2rem;
  gap: 2rem;
}

.logo__udemy {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  cursor: pointer;
}

.li__header {
  color: #1c1d1f;
  list-style: none;
  font-size: 70%;
  cursor: pointer;
}

.li__header:hover {
  color: #5624d0;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 3rem;
}

.searchbar__icon {
  position: relative;
  left: 4rem;
  width: 2.5rem;
  height: 100%;
  object-fit: contain;
}

.searchbar__input {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 2rem 5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
}

.login {
  width: 8rem;
  height: 4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
  background: white;
  cursor: pointer;
  font-weight: 600;
}

.login:hover {
  color: #1c1d1f;
  background-color: rgba(0, 0, 0, 0.04);
}

.inschrijven {
  width: 10rem;
  height: 4rem;
  background: #211f1f;
  color: white;
  font-weight: 600;
}

.inschrijven:hover {
  cursor: pointer;
  background-color: #000;
}

.wereldbol {
  width: 4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
  padding: 0.8rem;
}

.wereldbol:hover {
  color: #1c1d1f;
  background-color: rgba(0, 0, 0, 0.04);
}

.fa-cart-shopping {
  font-size: 150%;
}

.li__burger {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article__foto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article__foto .img__foto {
  width: 85%;
  height: 40rem;
  object-fit: cover;
}

.article__kaart {
  display: flex;
  justify-content: center;
  position: relative;
  height: 5rem;
  width: 53%;
  bottom: 32rem;
}
.article__kaart .h2 {
  width: 25ch;
  font-weight: bolder;
  font-size: 3rem;
}
.article__kaart .p__foto {
  width: 38ch;
}
.article__kaart .foto__kaart {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1.5rem;
  padding: 2rem;
  width: 70%;
  height: 20rem;
  background: white;
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
}

.section__artikel {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 12rem;
  width: 85%;
  padding: 2rem;
  gap: 2rem;
}
.section__artikel .article__artikel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section__artikel .article__artikel .h1__artikel {
  font-size: 4rem;
}
.section__artikel .article__artikel .p__artikel {
  font-size: 2rem;
  width: 70ch;
}
.section__artikel .article__cointainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section__artikel .article__cointainer .div__carousel {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.section__artikel .article__cointainer .div__carousel .li__carousel {
  color: rgba(0, 0, 0, 0.9);
  list-style: none;
}
.section__artikel .article__cointainer .div__carousel .li__carousel:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.section__artikel .article__cointainer .div__container {
  width: 70%;
  padding: 3rem;
  min-height: 30rem;
  gap: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.section__artikel .article__cointainer .div__container .p__container {
  width: 100%;
}
.section__artikel .article__cointainer .div__container .button__carousel {
  min-width: 12rem;
  max-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 4rem;
  border: 0.1rem solid;
  background: white;
  font-weight: 600;
  cursor: pointer;
}
.section__artikel .article__cointainer .div__container .button__carousel:hover {
  color: #1c1d1f;
  background-color: rgba(0, 0, 0, 0.04);
}

.article__kaartjes {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 12rem;
  width: 85%;
  padding: 2rem;
  gap: 2rem;
}
.article__kaartjes .section__kaartjes {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 8rem;
  height: 60rem;
  gap: 2rem;
}
.article__kaartjes .section__kaartjes .h1__kaartjes {
  font-weight: 900;
  font-size: 3rem;
}
.article__kaartjes .section__kaartjes .article__card {
  display: flex;
  gap: 1.3rem;
}
.article__kaartjes .section__kaartjes .article__card .div__kaartjes {
  width: 25rem;
  height: 35rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  cursor: pointer;
}
.article__kaartjes .section__kaartjes .article__card .div__kaartjes .img__kaartjes {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.article__kaartjes .section__kaartjes .article__card .div__kaartjes .article__onderkaartjes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem;
}
.article__kaartjes .section__kaartjes .article__card .div__kaartjes .article__onderkaartjes .div__rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.article__kaartjes .section__kaartjes .article__card .div__kaartjes .article__onderkaartjes .div__rating .p__rating {
  color: rgb(155, 106, 14);
}
.article__kaartjes .section__kaartjes .article__card .div__kaartjes .article__onderkaartjes .div__rating .li__sterren {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.article__kaartjes .section__kaartjes .article__card .div__kaartjes .article__onderkaartjes .div__rating .li__sterren .fa-star {
  font-size: 1.5rem;
  color: orange;
}
.article__kaartjes .section__kaartjes .article__card .div__kaartjes .article__onderkaartjes .div__prijs {
  display: flex;
  gap: 2rem;
}
.article__kaartjes .section__kaartjes .article__card .div__kaartjes .article__onderkaartjes .div__prijs .p__prijs {
  font-weight: 700;
  font-size: 1.8rem;
}

.article__categorie {
  background: #f7f9fa;
  width: 100%;
  height: 50rem;
  display: flex;
  padding: 0 14rem;
  flex-direction: column;
  padding-top: 6.4rem;
}
.article__categorie .div__categorie {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  width: 100%;
  height: 40rem;
  padding: 2rem 0;
}
.article__categorie .div__categorie .article__binnencategorie {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.article__categorie .div__categorie .article__binnencategorie .div__binnencategorie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}
.article__categorie .div__categorie .article__binnencategorie .div__binnencategorie .p__categorie {
  color: #5624d0;
  font-weight: bold;
  font-size: 80%;
  text-decoration: underline;
}
.article__categorie .div__categorie .article__binnencategorie .div__binnencategorie .p__categorie:hover {
  color: #401b9c;
  cursor: pointer;
  text-decoration: underline;
}
.article__categorie .div__categorie .article__binnencategorie .div__binnencategorie .h5__categorie {
  color: grey;
  font-weight: 100;
}
.article__categorie .div__categorie .button__categorie {
  width: 22rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  background: white;
  cursor: pointer;
  font-weight: 600;
}
.article__categorie .div__categorie .button__categorie:hover {
  color: #1c1d1f;
  background-color: rgba(0, 0, 0, 0.04);
}

.section__partners {
  padding-top: 5rem;
  height: 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section__partners .article__partners {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  padding: 2rem;
  height: 25rem;
}
.section__partners .article__partners .h1__partners {
  font-size: 3rem;
  font-weight: 600;
}
.section__partners .article__partners .div__partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12rem;
}

.section__component {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50rem;
}
.section__component .article__component {
  display: flex;
  padding: 2rem;
  width: 50%;
  height: 40rem;
  gap: 2rem;
}
.section__component .article__component .div__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.section__component .article__component .div__component .img__component {
  max-width: 100%;
  height: 40%;
  object-fit: contain;
}
.section__component .article__component .div__component .div__button {
  display: flex;
  gap: 1rem;
}
.section__component .article__component .div__component .div__button .button {
  width: 20rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.section__component .article__component .div__component .div__button .button:hover {
  background: rgb(0, 0, 0);
}
.section__component .article__component .div__component .div__button .button__2 {
  width: 20rem;
  height: 5rem;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.section__component .article__component .div__image {
  display: flex;
}
.section__component .article__component .div__image .img__component {
  width: 100%;
  min-height: 40rem;
  object-fit: cover;
}

.section__ps5 {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  height: 50rem;
}
.section__ps5 .article__ps5 {
  display: flex;
  justify-content: center;
}
.section__ps5 .article__ps5 .div__ps5 {
  display: flex;
  height: 40rem;
}
.section__ps5 .article__ps5 .div__ps5 .image__ps5 {
  width: 70%;
  height: 90%;
}
.section__ps5 .article__ps5 .div__textps5 {
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  flex-direction: column;
  gap: 1.5rem;
  width: 40ch;
}
.section__ps5 .article__ps5 .div__textps5 .h1__ps5 {
  font-size: 3rem;
  font-weight: 600;
}
.section__ps5 .article__ps5 .div__textps5 .p__ps5 {
  width: 36ch;
}
.section__ps5 .article__ps5 .div__textps5 .button__ps5 {
  width: 20rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.section__ps5 .article__ps5 .div__textps5 .button__ps5:hover {
  background: rgb(0, 0, 0);
}

.footer {
  width: 100%;
  height: 30rem;
  background: #1c1d1f;
  display: flex;
  flex-direction: column;
}
.footer .section__footer {
  padding: 4rem;
  display: flex;
  color: white;
  justify-content: space-between;
}
.footer .section__footer .article__footer {
  display: flex;
  gap: 15rem;
}
.footer .section__footer .article__footer .ul__footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 1.5rem;
}
.footer .section__footer .article__footer .ul__footer .li__footer {
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}
.footer .section__footer .article__footer .ul__footer .li__footer:hover {
  text-decoration: underline;
}
.footer .section__footer .div__nedbutton {
  display: flex;
  position: relative;
  bottom: 2rem;
  width: 14rem;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  border: 0.1rem solid rgb(255, 253, 253);
  cursor: pointer;
}
.footer .section__footer .div__nedbutton:hover {
  background: rgba(0, 0, 0, 0.5);
}
.footer .section__footer .div__nedbutton .img__nedbutton {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer .article__udemylogo {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  color: white;
}
.footer .article__udemylogo .img__udemylogo {
  max-width: 6rem;
}

@media screen and (max-width: 60rem) {
  .li__burger {
    display: block;
  }
  .li__weg {
    display: none;
  }
  .ul__header {
    gap: 1rem;
  }
}
.header {
  font-family: "Roboto", sans-serif;
}

.h2, .h1__artikel, .div__container, h2, .h1__partners {
  font-family: "Lato", sans-serif;
}

.p__foto, .p__artikel, .p__container, h3, p {
  font-family: "Montserrat", sans-serif;
}

.li__carousel {
  font-family: "Sono", sans-serif;
}

h5 {
  font-family: "Roboto Condensed", sans-serif;
}

h6 {
  font-family: "Mukta", sans-serif;
}

.footer {
  font-family: "Kanit", sans-serif;
}

/*# sourceMappingURL=style.css.map */
