.header{
    font-family: 'Roboto', sans-serif;
}

.h2, .h1__artikel, .div__container, h2, .h1__partners{
    font-family: 'Lato', sans-serif;
}

.p__foto, .p__artikel, .p__container, h3, p{
    font-family: 'Montserrat', sans-serif;
}

.li__carousel{
    font-family: 'Sono', sans-serif;
}

h5{
    font-family: 'Roboto Condensed', sans-serif;
}

h6{
    font-family: 'Mukta', sans-serif;
}

.footer{
    font-family: 'Kanit', sans-serif;
}